h1 Welcome to ZetaCal
br
h4 ZetaCal helps you to compare the time through Google Calendar. 
h4 You can assign a calendar to each group to compare with the group.
br

- unless current_account.id
  p 
    a class="btn btn-primary" href='/auth/login' login to start!
